#posts{
  position: absolute;
  top: 70%;
  left: 10%;
  right: 10%;
  background-color: rgb(60, 60, 60);
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
}
#posts table tr td{
  border: 1px solid white;
  border-radius: 30px;
  padding-top: 5%;
  border-collapse: collapse;

}
#profilePic{
  float: left;
  position: relative;
  top: 0;
  max-width: 10%;
  margin-left: 3%;
  margin-bottom: 3%;

}
.body{
  background-color: rgb(240,240, 240);
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: monospace;
}
#topBar{
  border-bottom: 1px solid black;
  width: 100%;
  height: 10%;
  position: fixed;
  background-color: rgb(59, 211, 219);
  top: 0;
  left: 0;
  text-align: center;
}
#topBar h1{
  color: white;
}
#content{
  position: absolute;
  display: block;
  border: 1px solid blue;
  width: 100%;
  top: 12%;
  left: 0;
  text-align: center;
  color: rgb(59, 211, 219);
}
#content img{
  width: 50%;
}
#personalInfo{
  position: absolute;
  left: 35%;
}
#bottomBar{
  display: block;
  width: 100%;
  height: 20%;
  position: absolute;
  background-color: rgb(148, 242, 247);
  border-top: 1px solid rgb(50,50,50,0.1);
  bottom: -10%;;
  left: 0;

}
#leftBar{
  position: fixed;
  left:0;
  top: 10%;
  width: 10%;
  height: 100%;
  background-color: rgb(207, 64, 64);
}
#leftBar img{
  width: 40%;
}
table{
  display: table;
  width: 100%;
  text-align: center;

}
#submit{
  position: absolute;
  display: block;
  margin-bottom: 5%;
  background: rgb(59, 211, 219);
  padding: 1%;
  left:38%;
  color: white;
  width: 20%;
}
